
body {
    
    font-family: fantasy;
}
img{
  width:100%;
height: 100%;
}
.bg-black{
  background: black
}
.font-div{
 width: 33.3%;
 
text-wrap: wrap;
text-align:center;
 font-family: 'system-ui', Georgia, 'Times New Roman', Times, serif;
 text-transform: uppercase;
}
.mainCard{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: system-ui;
}
 .card1{ 
   width: 320px;
   margin-top: 3vh;
  padding: 5px;
  border: 2px solid black;
  transform: scale(0.8);
  background: rgba(0,0,0,0.5);
  transition: all .2s linear;
}
.card1:hover{
  transform: scale(1);
  transition: all .2s linear;
  background: rgba(0,0,0,0.3);
  box-shadow: 5px 5px 5px gray;
}
.card1 .st{
 background: red;
}
.flipCard{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 5%;
  padding-top: 10px;
}

    #webhost{
        background-image: url('img/webhosting.png');
        background-repeat:none;
        background-size: 100% 100%;
        background-blend-mode: multiply;
      }
      #php{
        background-image: url('img/php.png');
        background-repeat:none;
        background-size: 100% 100%;
        background-blend-mode: multiply;
      }
      #data{
        background-image: url('img/database-png-25440.png');
        background-repeat:none;
        background-size: 100% 100%;
        background-blend-mode: multiply;
      }
      #web{
       background-image: url('img/domain-png-25454.png');
        background-repeat:none;
        background-size: 100% 100%;
        background-blend-mode: multiply;
      }
      .fan{
        font-size: 22px;
      }
      .flip-card{
        width:250px;
        height: 300px;
        perspective: 550px;
        margin: auto;
        padding-top: 20px;
      }
      .flip-card-inner{
        position: relative;
        width:100%;
        height:100%;
        text-align: cebter;
        transition: transform 0.9s;
        transform-style: preserve-3d; 
        
      }
      .flip-card:hover .flip-card-inner{
        
        transform:rotateY(180deg);
      }
      .flip-card-frontside,.flip-card-backside{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 20px;
        
      }
      .flip-card-backside{
        background: lightblue;
        box-shadow: 2px 3px 4px gray;
       transform: rotateY(180deg);
      }
      .flip-card-frontside{
        background:rgba(255,150,250,0.9);
        text-align: center;
        box-shadow: 1px 2px 4px gray;
      }
      .flip-card-frontside h2{
      margin-top: 25%;
       
        font-weight: bold;
        text-shadow: 2px 3px 4px black;
        font-size: 32px;
        color: #fff;
      }
      .flip-card-frontside .footer{
        margin-top:30%;
        font-size: 22px;
        font-weight: bold;
        text-shadow: 2px 3px 4px black;
        color: #fff;
        
      }
      .flip-card-backside > *{
        text-align: center;
        color: #fff;
        text-shadow: 0px 2px 4px black;
        border-radius: 30px;
        
      }
      .flip-card-backside .bg-dark{
        box-shadow: 2px 4px 4px black;
       width:95%;
       font-size: 11px;
       margin: auto;
       margin-top: 10px;
      }
      #highlight{
        font-size: 18px;
        font-weight: bold;
      }
      .cardInfo:hover{
        box-shadow: 2px 3px 4px white;
      }
      
      .flip-cardImg{
        width:300px;
        height: 250px;
        perspective: 300px;
        margin: auto;
        padding-top: 20px;
       /* border:2px solid red;*/
      }
      .flipInner{
        position: relative;
        width:100%;
        height:100%;
        text-align: cebter;
        transition: transform 0.9s;
        transform-style: preserve-3d;
     /* transform: scale(0.8);
        */
      }
      
      .img{
        width:100%;
        height:100%;
        background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.6)),url('img/port.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-radius: 5px;
      }
      .img2{
        width:100%;
        height: 100%;
        background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4)), url('img/dob.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-radius: 5px;
      }
      .img3{
        width:100%;
        height: 100%;
        background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4)), url('img/welcome.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-radius: 5px;
      }
      .img4{
        width:100%;
        height: 100%;
        background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4)), url('img/riit.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-radius: 5px;
      }
      .img5{
        width:100%;
        height: 100%;
        background-image:linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.5)), url('img/edu.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-radius: 5px;
      }
      .img6{
        width:100%;
        height: 100%;
        background-image:linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.5)), url('img/edu1.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-radius: 5px;
      }
      .flipCard-Img,.flipCard-Back{
        position: absolute;
        width: 90%;
        height: 90%;
        backface-visibility: hidden;
        border-radius: 20px;
        width:90%;
        margin: 5%;
      }
     
      .flip-cardImg:hover .flipInner{
       transform: rotateX(180deg);
      /* transform: scale(1);*/
       
      }
      .flipCard-Back{
        transform: rotateX(180deg);
      background-image: linear-gradient(rgba(120,0,255,0.3),rgba(0,0,0,0.6));
        text-align: center;
        align-items: center;
        
      }
      .flipCard-Back p{
        padding: 5%;
      }
      .cardWeb{
        flex-wrap: wrap;
      }
/*//responcive //*/
@media(min-width:1024px){

  .font-div{
    padding:142.5px 0px!important;
  }

}
@media(min-width:1280px){
 .font-div{
    padding:25vh 0px!important;
   }
}
